## INF161 Project Part 1 (19.09.2021)

In [1]:
#Importing libraries
import pandas as pd
import lxml

In [2]:
## 2017
# Importing data from 2017
games2017 = pd.read_html('2017/games.xls', encoding='utf-8')
rank_table2017 = pd.read_html('2017/table.xls', encoding='utf-8')
team_stats2017 = pd.read_html('2017/team-stats.xls', encoding='utf-8')
player_stats2017 = pd.read_html('2017/player-stats.xls', encoding='utf-8')

# Read_html returns a list, converting to dataframe and sorting by selected values
games2017 = games2017[0].sort_values(by=['Home'], ascending=True)
games2017 = games2017[games2017['Wk'].notnull()]
rank_table2017 = rank_table2017[0].sort_values(by=['Squad'], ascending=True).reset_index()
team_stats2017 = team_stats2017[0]
player_stats2017 = player_stats2017[0]

In [3]:
## 2018
#Importing data from 2018
games2018 = pd.read_html('2018/games.xls', encoding='utf-8')
rank_table2018 = pd.read_html('2018/table.xls', encoding='utf-8')
team_stats2018 = pd.read_html('2018/team-stats.xls', encoding='utf-8')
player_stats2018 = pd.read_html('2018/player-stats.xls', encoding='utf-8')

# Read_html returns a list, converting to dataframe and sorting by certain values
games2018 = games2018[0].sort_values(by=['Home'], ascending=True)
games2018 = games2018[games2018['Wk'].notnull()]
rank_table2018 = rank_table2018[0].sort_values(by=['Squad'], ascending=True).reset_index()
team_stats2018 = team_stats2018[0]
player_stats2018 = player_stats2018[0]

In [4]:
## 2019
#Importing data from 2019
games2019 = pd.read_html('2019/games.xls', encoding='utf-8')
rank_table2019 = pd.read_html('2019/table.xls', encoding='utf-8')
team_stats2019 = pd.read_html('2019/team-stats.xls', encoding='utf-8')
player_stats2019 = pd.read_html('2019/player-stats.xls', encoding='utf-8')

# read_html returns a list, one df for every table in the document
games2019 = games2019[0].sort_values(by=['Home'], ascending=True)
games2019 = games2019[games2019['Wk'].notnull()]
rank_table2019 = rank_table2019[0].sort_values(by=['Squad'], ascending=True).reset_index()
team_stats2019 = team_stats2019[0]
player_stats2019 = player_stats2019[0]

In [5]:
## 2017
# Splitting the 'Score' column into HomeScore and AwayScore
home, away = games2017['Score'].str.split("–").str

# Preparing to select columns from team-stats file that we are interested in
perf_fields = ['Gls', 'PK', 'PKatt', 'CrdY', 'CrdR']
per_90_fields = ['Gls', 'G-PK']

# Concatenating columns
team_stats2017 = pd.concat([
    team_stats2017['Unnamed: 0_level_0'][['Squad']],
    team_stats2017['Unnamed: 2_level_0'][['Age']].astype(float), 
    team_stats2017['Performance'][perf_fields].astype(int), 
    team_stats2017['Per 90 Minutes'][per_90_fields].add_prefix('90-').astype(float)
], axis=1).sort_values(by=['Squad'], ascending=True)

# Adding columns 'Rk' and 'GF'
team_stats2017['Rk'] = rank_table2017['Rk']
team_stats2017['GF'] = rank_table2017['GF']

team_stats2017.head(3)

/var/folders/hg/fznwytsd2bq__1842rbhh1f00000gn/T/ipykernel_26684/3697071078.py:3: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  home, away = games2017['Score'].str.split("–").str

          Squad   Age  Gls  PK  PKatt  CrdY  CrdR  90-Gls  90-G-PK  Rk  GF
0  Arna-Bjørnar  22.0   37   1      1    20     1    1.68     1.64   6  39
1     Avaldsnes  25.5   49   1      1    22     1    2.23     2.18   2  51
2    Grand Bodø  22.7   30   1      1    19     0    1.36     1.32  11  30

In [6]:
## 2017
# Converting columns into type int
games2017['HomeScore'] = home.astype(int)
games2017['AwayScore'] = away.astype(int)

# Grouping by 'Home' to then calculate mean of 'HomeScore' and 'AwayScore'
games_by_home_team2017 = games2017.groupby("Home")
home_team_averages2017 = games_by_home_team2017.mean().reset_index()
home_team_averages2017 = home_team_averages2017[['Home','HomeScore', 'AwayScore']]

# Renaming columns
home_team_averages2017 = home_team_averages2017.rename(columns={'Home': 'Squad'})
home_team_averages2017 = home_team_averages2017.rename(columns={'HomeScore': 'HomeScoreMean'})
home_team_averages2017 = home_team_averages2017.rename(columns={'AwayScore': 'AwayScoreMean'})

home_team_averages2017.head(3)

          Squad  HomeScoreMean  AwayScoreMean
0  Arna-Bjørnar       2.272727       1.181818
1     Avaldsnes       2.636364       0.545455
2    Grand Bodø       1.454545       3.090909

In [7]:
## 2017
# Quick look at the games2017 dataframe
games2017.head(3)

,Wk,Day,Date,Time,Home,Score,Away,Attendance,Venue,Referee,Match Report,Notes,HomeScore,AwayScore
82,12.0,Sun,2017-07-02,15:00,Arna-Bjørnar,0–3,Avaldsnes,248.0,Arna Idrettspark,Marit Folstad,Match Report,NaN,0,3
29,4.0,Sat,2017-05-13,15:00,Arna-Bjørnar,2–0,Trondheims-Ørn,243.0,Arna Idrettspark,Ingvild Aarland,Match Report,NaN,2,0
133,18.0,Wed,2017-10-04,19:00,Arna-Bjørnar,6–0,Medkila,125.0,Arna Idrettspark,Ola Kellerhals,Match Report,NaN,6,0

In [8]:
## 2017
# Selecting only necessary columns
games2017 = games2017[["Home", "Away", "HomeScore", "AwayScore"]]
games2017.head(3)

             Home            Away  HomeScore  AwayScore
82   Arna-Bjørnar       Avaldsnes          0          3
29   Arna-Bjørnar  Trondheims-Ørn          2          0
133  Arna-Bjørnar         Medkila          6          0

In [9]:
## 2017
# Merging games2017 with home_team_averages2017 into a new dataframe called games2017_home
games2017_home = pd.merge(games2017, home_team_averages2017, how='left', left_on='Home', right_on='Squad')
games2017_home = games2017_home.drop(columns=['Squad'])

# Merging again with team_stats2017
games2017_home = pd.merge(games2017_home, team_stats2017, how='left', left_on='Home', right_on='Squad')

#Adding an extra column 'IsHome' that will be used later
games2017_home['IsHome'] = pd.Series([1 for x in range(len(games2017.index))])

games2017_home.head(3)

,Home,Away,HomeScore,AwayScore,HomeScoreMean,AwayScoreMean,Squad,Age,Gls,PK,PKatt,CrdY,CrdR,90-Gls,90-G-PK,Rk,GF,IsHome
0,Arna-Bjørnar,Avaldsnes,0,3,2.272727,1.181818,Arna-Bjørnar,22.0,37,1,1,20,1,1.68,1.64,6,39,1
1,Arna-Bjørnar,Trondheims-Ørn,2,0,2.272727,1.181818,Arna-Bjørnar,22.0,37,1,1,20,1,1.68,1.64,6,39,1
2,Arna-Bjørnar,Medkila,6,0,2.272727,1.181818,Arna-Bjørnar,22.0,37,1,1,20,1,1.68,1.64,6,39,1

In [10]:
## 2017
# Merging games2017 with home_team_averages2017 into a new dataframe called games2017_away
games2017_away = pd.merge(games2017, home_team_averages2017, how='left', left_on='Away', right_on='Squad')
games2017_away = games2017_away.drop(columns=['Squad'])

# Merging again with team_stats2017
games2017_away = pd.merge(games2017_away, team_stats2017, how='left', left_on='Away', right_on='Squad')

#Adding an extra column 'IsHome' that will be used later
games2017_away['IsHome'] = pd.Series([0 for x in range(len(games2017.index))])

games2017_away.head(3)

,Home,Away,HomeScore,AwayScore,HomeScoreMean,AwayScoreMean,Squad,Age,Gls,PK,PKatt,CrdY,CrdR,90-Gls,90-G-PK,Rk,GF,IsHome
0,Arna-Bjørnar,Avaldsnes,0,3,2.636364,0.545455,Avaldsnes,25.5,49,1,1,22,1,2.23,2.18,2,51,0
1,Arna-Bjørnar,Trondheims-Ørn,2,0,1.818182,1.363636,Trondheims-Ørn,22.1,36,0,0,9,0,1.64,1.64,8,36,0
2,Arna-Bjørnar,Medkila,6,0,0.454545,2.727273,Medkila,20.9,9,0,0,13,2,0.41,0.41,12,9,0

In [11]:
## 2017
# Concatenating the two dataframes
games2017 = pd.concat([games2017_home, games2017_away]).sort_index()
games2017 = games2017.drop('Squad', axis=1).reset_index().drop(['index'], axis=1)

# Adding another column with year of dataset
games2017['Year'] = pd.Series([2017 for x in range(len(games2017.index))])

In [12]:
## 2017

# Final dataframe for 2017
    # 'Home'          = Home squad
    # 'Away'          = Away squad
    # 'HomeScore'     = Number of goals scored by home squad during a game
    # 'AwayScore'     = Number of gaols scored by away squad during a game
    # 'HomeScoreMean' = Mean number of goals scored by squad when playing home
    # 'AwayScoreMean' = Mean number of goals scored by squad when playing away
    # 'Age'           = Average age of squad at season start
    # 'Gls'           = Number of goals scored (or recieved) by squad
    # 'Pk'            = Number of penalty kicks scored
    # 'PKatt'         = Number of penalty kicks attempted
    # 'CrdY'          = Number of yellow cards
    # 'CrdR'          = Number of yellow cards
    # '90-Gls'        = Number of goals scored per 90 minutes
    # '90-G-PK'       = Number of goals minus penalty kicks scored per 90 minutes
    # 'Rk'            = Rank placement of a squad in competition
    # 'GF'            = Total number of goals scored by a squad during the given season
    # 'IsHome'        = Indicates if data in row corresponds to home squad or away squad
    # 'Year'          = Year of the season
games2017.head(10)

,Home,Away,HomeScore,AwayScore,HomeScoreMean,AwayScoreMean,Age,Gls,PK,PKatt,CrdY,CrdR,90-Gls,90-G-PK,Rk,GF,IsHome,Year
0,Arna-Bjørnar,Avaldsnes,0,3,2.272727,1.181818,22.0,37,1,1,20,1,1.68,1.64,6,39,1,2017
1,Arna-Bjørnar,Avaldsnes,0,3,2.636364,0.545455,25.5,49,1,1,22,1,2.23,2.18,2,51,0,2017
2,Arna-Bjørnar,Trondheims-Ørn,2,0,2.272727,1.181818,22.0,37,1,1,20,1,1.68,1.64,6,39,1,2017
3,Arna-Bjørnar,Trondheims-Ørn,2,0,1.818182,1.363636,22.1,36,0,0,9,0,1.64,1.64,8,36,0,2017
4,Arna-Bjørnar,Medkila,6,0,2.272727,1.181818,22.0,37,1,1,20,1,1.68,1.64,6,39,1,2017
5,Arna-Bjørnar,Medkila,6,0,0.454545,2.727273,20.9,9,0,0,13,2,0.41,0.41,12,9,0,2017
6,Arna-Bjørnar,Sandviken,2,0,2.272727,1.181818,22.0,37,1,1,20,1,1.68,1.64,6,39,1,2017
7,Arna-Bjørnar,Sandviken,2,0,1.454545,1.363636,24.4,23,0,0,10,0,1.05,1.05,9,23,0,2017
8,Arna-Bjørnar,Kolbotn,3,0,2.272727,1.181818,22.0,37,1,1,20,1,1.68,1.64,6,39,1,2017
9,Arna-Bjørnar,Kolbotn,3,0,0.636364,1.818182,21.9,16,0,0,8,0,0.73,0.73,10,17,0,2017

In [13]:
## 2018
# Splitting the 'Score' column into HomeScore and AwayScore
home, away = games2018['Score'].str.split("–").str

# Concatenating columns
team_stats2018 = pd.concat([
    team_stats2018['Unnamed: 0_level_0'][['Squad']],
    team_stats2018['Unnamed: 2_level_0'][['Age']].astype(float), 
    team_stats2018['Performance'][perf_fields].astype(int), 
    team_stats2018['Per 90 Minutes'][per_90_fields].add_prefix('90-').astype(float)
], axis=1).sort_values(by=['Squad'], ascending=True)

# Adding columns 'Rk' and 'GF'
team_stats2018['Rk'] = rank_table2018['Rk']
team_stats2018['GF'] = rank_table2018['GF']

team_stats2018.head(3)

/var/folders/hg/fznwytsd2bq__1842rbhh1f00000gn/T/ipykernel_26684/3060273010.py:3: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  home, away = games2018['Score'].str.split("–").str

          Squad   Age  Gls  PK  PKatt  CrdY  CrdR  90-Gls  90-G-PK  Rk  GF
0  Arna-Bjørnar  21.9   52   1      1    11     1    2.36     2.32   3  53
1     Avaldsnes  24.0   24   3      3    22     1    1.09     0.95   9  24
2    Grand Bodø  23.4   19   1      1    16     0    0.86     0.82  12  20

In [14]:
## 2018
# Converting columns into type int
games2018['HomeScore'] = home.astype(int)
games2018['AwayScore'] = away.astype(int)

# Grouping by 'Home' to then calculate mean of 'HomeScore' and 'AwayScore'
games_by_home_team2018 = games2018.groupby("Home")
home_team_averages2018 = games_by_home_team2018.mean().reset_index()
home_team_averages2018 = home_team_averages2018[['Home','HomeScore', 'AwayScore']]

# Renaming columns
home_team_averages2018 = home_team_averages2018.rename(columns={'Home': 'Squad'})
home_team_averages2018 = home_team_averages2018.rename(columns={'HomeScore': 'HomeScoreMean'})
home_team_averages2018 = home_team_averages2018.rename(columns={'AwayScore': 'AwayScoreMean'})

home_team_averages2018.head(3)

          Squad  HomeScoreMean  AwayScoreMean
0  Arna-Bjørnar       2.727273       1.000000
1     Avaldsnes       1.363636       1.272727
2    Grand Bodø       0.909091       2.454545

In [15]:
## 2018
# Selecting only necessary columns
games2018 = games2018[["Home", "Away", "HomeScore", "AwayScore"]]
games2018.head(3)

             Home            Away  HomeScore  AwayScore
158  Arna-Bjørnar           Klepp          0          0
94   Arna-Bjørnar  Trondheims-Ørn          6          1
87   Arna-Bjørnar       Avaldsnes          4          1

In [16]:
## 2018
# Merging games2018 with home_team_averages2018 into a new dataframe called games2018_home
games2018_home = pd.merge(games2018, home_team_averages2018, how='left', left_on='Home', right_on='Squad')
games2018_home = games2018_home.drop(columns=['Squad'])

# Merging again with team_stats2018
games2018_home = pd.merge(games2018_home, team_stats2018, how='left', left_on='Home', right_on='Squad')

#Adding an extra column 'IsHome' that will be used later
games2018_home['IsHome'] = pd.Series([1 for x in range(len(games2018.index))])

games2018_home.head(3)

,Home,Away,HomeScore,AwayScore,HomeScoreMean,AwayScoreMean,Squad,Age,Gls,PK,PKatt,CrdY,CrdR,90-Gls,90-G-PK,Rk,GF,IsHome
0,Arna-Bjørnar,Klepp,0,0,2.727273,1.0,Arna-Bjørnar,21.9,52,1,1,11,1,2.36,2.32,3,53,1
1,Arna-Bjørnar,Trondheims-Ørn,6,1,2.727273,1.0,Arna-Bjørnar,21.9,52,1,1,11,1,2.36,2.32,3,53,1
2,Arna-Bjørnar,Avaldsnes,4,1,2.727273,1.0,Arna-Bjørnar,21.9,52,1,1,11,1,2.36,2.32,3,53,1

In [17]:
## 2018
# Merging games2018 with home_team_averages2018 into a new dataframe called games2018_away
games2018_away = pd.merge(games2018, home_team_averages2018, how='left', left_on='Away', right_on='Squad')
games2018_away = games2018_away.drop(columns=['Squad'])

# Merging again with team_stats2018
games2018_away = pd.merge(games2018_away, team_stats2018, how='left', left_on='Away', right_on='Squad')

#Adding an extra column 'IsHome' that will be used later
games2018_away['IsHome'] = pd.Series([0 for x in range(len(games2018.index))])

games2018_away.head(3)

,Home,Away,HomeScore,AwayScore,HomeScoreMean,AwayScoreMean,Squad,Age,Gls,PK,PKatt,CrdY,CrdR,90-Gls,90-G-PK,Rk,GF,IsHome
0,Arna-Bjørnar,Klepp,0,0,2.090909,0.909091,Klepp,25.1,39,2,2,12,0,1.77,1.68,2,39,0
1,Arna-Bjørnar,Trondheims-Ørn,6,1,1.272727,1.818182,Trondheims-Ørn,21.8,25,1,1,15,1,1.14,1.09,10,25,0
2,Arna-Bjørnar,Avaldsnes,4,1,1.363636,1.272727,Avaldsnes,24.0,24,3,3,22,1,1.09,0.95,9,24,0

In [18]:
## 2018
# Concatenating the two dataframes
games2018 = pd.concat([games2018_home, games2018_away]).sort_index()
games2018 = games2018.drop('Squad', axis=1).reset_index().drop(['index'], axis=1)

# Adding another column with year of dataset
games2018['Year'] = pd.Series([2018 for x in range(len(games2018.index))])

In [19]:
## 2018

# Final dataframe for 2018
    # 'Home'          = Home squad
    # 'Away'          = Away squad
    # 'HomeScore'     = Number of goals scored by home squad during a game
    # 'AwayScore'     = Number of gaols scored by away squad during a game
    # 'HomeScoreMean' = Mean number of goals scored by squad when playing home
    # 'AwayScoreMean' = Mean number of goals scored by squad when playing away
    # 'Age'           = Average age of squad at season start
    # 'Gls'           = Number of goals scored (or recieved) by squad
    # 'Pk'            = Number of penalty kicks scored
    # 'PKatt'         = Number of penalty kicks attempted
    # 'CrdY'          = Number of yellow cards
    # 'CrdR'          = Number of yellow cards
    # '90-Gls'        = Number of goals scored per 90 minutes
    # '90-G-PK'       = Number of goals minus penalty kicks scored per 90 minutes
    # 'Rk'            = Rank placement of a squad in competition
    # 'GF'            = Total number of goals scored by a squad during the given season
    # 'IsHome'        = Indicates if data in row corresponds to home squad or away squad
    # 'Year'          = Year of the season
games2018.head(10)

,Home,Away,HomeScore,AwayScore,HomeScoreMean,AwayScoreMean,Age,Gls,PK,PKatt,CrdY,CrdR,90-Gls,90-G-PK,Rk,GF,IsHome,Year
0,Arna-Bjørnar,Klepp,0,0,2.727273,1.000000,21.9,52,1,1,11,1,2.36,2.32,3,53,1,2018
1,Arna-Bjørnar,Klepp,0,0,2.090909,0.909091,25.1,39,2,2,12,0,1.77,1.68,2,39,0,2018
2,Arna-Bjørnar,Trondheims-Ørn,6,1,2.727273,1.000000,21.9,52,1,1,11,1,2.36,2.32,3,53,1,2018
3,Arna-Bjørnar,Trondheims-Ørn,6,1,1.272727,1.818182,21.8,25,1,1,15,1,1.14,1.09,10,25,0,2018
4,Arna-Bjørnar,Avaldsnes,4,1,2.727273,1.000000,21.9,52,1,1,11,1,2.36,2.32,3,53,1,2018
5,Arna-Bjørnar,Avaldsnes,4,1,1.363636,1.272727,24.0,24,3,3,22,1,1.09,0.95,9,24,0,2018
6,Arna-Bjørnar,Vålerenga,3,2,2.727273,1.000000,21.9,52,1,1,11,1,2.36,2.32,3,53,1,2018
7,Arna-Bjørnar,Vålerenga,3,2,2.090909,1.454545,25.6,36,4,4,27,1,1.64,1.45,6,37,0,2018
8,Arna-Bjørnar,Stabæk,6,2,2.727273,1.000000,21.9,52,1,1,11,1,2.36,2.32,3,53,1,2018
9,Arna-Bjørnar,Stabæk,6,2,1.545455,1.272727,23.6,29,0,0,7,0,1.32,1.32,8,29,0,2018

In [20]:
## 2019
# Splitting the 'Score' column into HomeScore and AwayScore
home, away = games2019['Score'].str.split("–").str

# Concatenating columns
team_stats2019 = pd.concat([
    team_stats2019['Unnamed: 0_level_0'][['Squad']],
    team_stats2019['Unnamed: 2_level_0'][['Age']].astype(float), 
    team_stats2019['Performance'][perf_fields].astype(int), 
    team_stats2019['Per 90 Minutes'][per_90_fields].add_prefix('90-').astype(float)
], axis=1).sort_values(by=['Squad'], ascending=True)

# Adding columns 'Rk' and 'GF'
team_stats2019['Rk'] = rank_table2019['Rk']
team_stats2019['GF'] = rank_table2019['GF']

team_stats2019.head(3)

/var/folders/hg/fznwytsd2bq__1842rbhh1f00000gn/T/ipykernel_26684/2817112878.py:3: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  home, away = games2019['Score'].str.split("–").str

          Squad   Age  Gls  PK  PKatt  CrdY  CrdR  90-Gls  90-G-PK  Rk  GF
0  Arna-Bjørnar  22.4   26   0      0    14     1    1.18     1.18   9  26
1     Avaldsnes  24.4   40   4      4    21     2    1.82     1.64   5  40
2          Fart  21.9   14   1      1    15     0    0.64     0.59  12  14

In [21]:
## 2019
# Converting columns into type int
games2019['HomeScore'] = home.astype(int)
games2019['AwayScore'] = away.astype(int)

# Grouping by 'Home' to then calculate mean of 'HomeScore' and 'AwayScore'
games_by_home_team2019 = games2019.groupby("Home")
home_team_averages2019 = games_by_home_team2019.mean().reset_index()
home_team_averages2019 = home_team_averages2019[['Home','HomeScore', 'AwayScore']]

# Renaming columns
home_team_averages2019 = home_team_averages2019.rename(columns={'Home': 'Squad'})
home_team_averages2019 = home_team_averages2019.rename(columns={'HomeScore': 'HomeScoreMean'})
home_team_averages2019 = home_team_averages2019.rename(columns={'AwayScore': 'AwayScoreMean'})

home_team_averages2019.head(3)

          Squad  HomeScoreMean  AwayScoreMean
0  Arna-Bjørnar       1.090909       1.636364
1     Avaldsnes       2.000000       1.363636
2          Fart       0.727273       2.545455

In [22]:
## 2019
# Quick look at the games2017 dataframe
games2019.head(3)

,Round,Wk,Day,Date,Time,Home,Score,Away,Attendance,Venue,Referee,Match Report,Notes,HomeScore,AwayScore
76,Regular Season,12.0,Sat,2019-08-10,15:00,Arna-Bjørnar,3–1,Fart,363.0,Arna Idrettspark,Ingvild Aarland,Match Report,NaN,3,1
115,Regular Season,17.0,Sat,2019-09-21,15:00,Arna-Bjørnar,0–2,Avaldsnes,176.0,Arna Idrettspark,Marit Folstad,Match Report,NaN,0,2
155,Regular Season,22.0,Sat,2019-11-16,13:00,Arna-Bjørnar,0–2,Vålerenga,185.0,Arna Idrettspark,Karoline Marie Jensen,Match Report,NaN,0,2

In [23]:
## 2019
# Selecting only necessary columns
games2019 = games2019[["Home", "Away", "HomeScore", "AwayScore"]]
games2019.head(3)

             Home       Away  HomeScore  AwayScore
76   Arna-Bjørnar       Fart          3          1
115  Arna-Bjørnar  Avaldsnes          0          2
155  Arna-Bjørnar  Vålerenga          0          2

In [24]:
## 2019
# Merging games2019 with home_team_averages2019 into a new dataframe called games2019_home
games2019_home = pd.merge(games2019, home_team_averages2019, how='left', left_on='Home', right_on='Squad')
games2019_home = games2019_home.drop(columns=['Squad'])

# Merging again with team_stats2019
games2019_home = pd.merge(games2019_home, team_stats2019, how='left', left_on='Home', right_on='Squad')

#Adding an extra column 'IsHome' that will be used later
games2019_home['IsHome'] = pd.Series([1 for x in range(len(games2019.index))])

games2019_home.head(3)

,Home,Away,HomeScore,AwayScore,HomeScoreMean,AwayScoreMean,Squad,Age,Gls,PK,PKatt,CrdY,CrdR,90-Gls,90-G-PK,Rk,GF,IsHome
0,Arna-Bjørnar,Fart,3,1,1.090909,1.636364,Arna-Bjørnar,22.4,26,0,0,14,1,1.18,1.18,9,26,1
1,Arna-Bjørnar,Avaldsnes,0,2,1.090909,1.636364,Arna-Bjørnar,22.4,26,0,0,14,1,1.18,1.18,9,26,1
2,Arna-Bjørnar,Vålerenga,0,2,1.090909,1.636364,Arna-Bjørnar,22.4,26,0,0,14,1,1.18,1.18,9,26,1

In [25]:
## 2019
# Merging games2019 with home_team_averages2019 into a new dataframe called games2019_away
games2019_away = pd.merge(games2019, home_team_averages2019, how='left', left_on='Away', right_on='Squad')
games2019_away = games2019_away.drop(columns=['Squad'])

# Merging again with team_stats2019
games2019_away = pd.merge(games2019_away, team_stats2019, how='left', left_on='Away', right_on='Squad')

#Adding an extra column 'IsHome' that will be used later
games2019_away['IsHome'] = pd.Series([0 for x in range(len(games2019.index))])

games2019_away.head(3)

,Home,Away,HomeScore,AwayScore,HomeScoreMean,AwayScoreMean,Squad,Age,Gls,PK,PKatt,CrdY,CrdR,90-Gls,90-G-PK,Rk,GF,IsHome
0,Arna-Bjørnar,Fart,3,1,0.727273,2.545455,Fart,21.9,14,1,1,15,0,0.64,0.59,12,14,0
1,Arna-Bjørnar,Avaldsnes,0,2,2.000000,1.363636,Avaldsnes,24.4,40,4,4,21,2,1.82,1.64,5,40,0
2,Arna-Bjørnar,Vålerenga,0,2,1.636364,0.636364,Vålerenga,25.2,41,1,1,19,1,1.86,1.82,2,41,0

In [26]:
## 2019
# Concatenating the two dataframes
games2019 = pd.concat([games2019_home, games2019_away]).sort_index()
games2019 = games2019.drop('Squad', axis=1).reset_index().drop(['index'], axis=1)

# Adding another column with year of dataset
games2019['Year'] = pd.Series([2019 for x in range(len(games2019.index))])

In [31]:
## 2019
# Final dataframe for 2019
    # 'Home'          = Home squad
    # 'Away'          = Away squad
    # 'HomeScore'     = Number of goals scored by home squad during a game
    # 'AwayScore'     = Number of gaols scored by away squad during a game
    # 'HomeScoreMean' = Mean number of goals scored by squad when playing home
    # 'AwayScoreMean' = Mean number of goals scored by squad when playing away
    # 'Age'           = Average age of squad at season start
    # 'Gls'           = Number of goals scored (or recieved) by squad
    # 'Pk'            = Number of penalty kicks scored
    # 'PKatt'         = Number of penalty kicks attempted
    # 'CrdY'          = Number of yellow cards
    # 'CrdR'          = Number of yellow cards
    # '90-Gls'        = Number of goals scored per 90 minutes
    # '90-G-PK'       = Number of goals minus penalty kicks scored per 90 minutes
    # 'Rk'            = Rank placement of a squad in competition
    # 'GF'            = Total number of goals scored by a squad during the given season
    # 'IsHome'        = Indicates if data in row corresponds to home squad or away squad
    # 'Year'          = Year of the season
games2019.head(10)

,Home,Away,HomeScore,AwayScore,HomeScoreMean,AwayScoreMean,Age,Gls,PK,PKatt,CrdY,CrdR,90-Gls,90-G-PK,Rk,GF,IsHome,Year
0,Arna-Bjørnar,Fart,3,1,1.090909,1.636364,22.4,26,0,0,14,1,1.18,1.18,9,26,1,2019
1,Arna-Bjørnar,Fart,3,1,0.727273,2.545455,21.9,14,1,1,15,0,0.64,0.59,12,14,0,2019
2,Arna-Bjørnar,Avaldsnes,0,2,1.090909,1.636364,22.4,26,0,0,14,1,1.18,1.18,9,26,1,2019
3,Arna-Bjørnar,Avaldsnes,0,2,2.000000,1.363636,24.4,40,4,4,21,2,1.82,1.64,5,40,0,2019
4,Arna-Bjørnar,Vålerenga,0,2,1.090909,1.636364,22.4,26,0,0,14,1,1.18,1.18,9,26,1,2019
5,Arna-Bjørnar,Vålerenga,0,2,1.636364,0.636364,25.2,41,1,1,19,1,1.86,1.82,2,41,0,2019
6,Arna-Bjørnar,Røa,2,2,1.090909,1.636364,22.4,26,0,0,14,1,1.18,1.18,9,26,1,2019
7,Arna-Bjørnar,Røa,2,2,2.272727,2.090909,22.9,39,4,4,27,1,1.77,1.59,6,40,0,2019
8,Arna-Bjørnar,Stabæk,2,2,1.090909,1.636364,22.4,26,0,0,14,1,1.18,1.18,9,26,1,2019
9,Arna-Bjørnar,Stabæk,2,2,0.909091,1.181818,24.7,16,1,1,12,0,0.73,0.68,11,16,0,2019

# Final dataframe

In [29]:
## FINAL
# Concatenating the two dataframes
gamesfinal = pd.concat([games2017, games2018, games2019]).reset_index().sort_index().drop(['index'], axis=1)
gamesfinal.head(10)

,Home,Away,HomeScore,AwayScore,HomeScoreMean,AwayScoreMean,Age,Gls,PK,PKatt,CrdY,CrdR,90-Gls,90-G-PK,Rk,GF,IsHome,Year
0,Arna-Bjørnar,Avaldsnes,0,3,2.272727,1.181818,22.0,37,1,1,20,1,1.68,1.64,6,39,1,2017
1,Arna-Bjørnar,Avaldsnes,0,3,2.636364,0.545455,25.5,49,1,1,22,1,2.23,2.18,2,51,0,2017
2,Arna-Bjørnar,Trondheims-Ørn,2,0,2.272727,1.181818,22.0,37,1,1,20,1,1.68,1.64,6,39,1,2017
3,Arna-Bjørnar,Trondheims-Ørn,2,0,1.818182,1.363636,22.1,36,0,0,9,0,1.64,1.64,8,36,0,2017
4,Arna-Bjørnar,Medkila,6,0,2.272727,1.181818,22.0,37,1,1,20,1,1.68,1.64,6,39,1,2017
5,Arna-Bjørnar,Medkila,6,0,0.454545,2.727273,20.9,9,0,0,13,2,0.41,0.41,12,9,0,2017
6,Arna-Bjørnar,Sandviken,2,0,2.272727,1.181818,22.0,37,1,1,20,1,1.68,1.64,6,39,1,2017
7,Arna-Bjørnar,Sandviken,2,0,1.454545,1.363636,24.4,23,0,0,10,0,1.05,1.05,9,23,0,2017
8,Arna-Bjørnar,Kolbotn,3,0,2.272727,1.181818,22.0,37,1,1,20,1,1.68,1.64,6,39,1,2017
9,Arna-Bjørnar,Kolbotn,3,0,0.636364,1.818182,21.9,16,0,0,8,0,0.73,0.73,10,17,0,2017